/* @font-face {
  font-family: Century-Gothic;
  src: url(../asset//fonts/CenturyGothic.ttf);
} */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}

/* General container for the reply model */
/* .reply-model-container {
  position: fixed; 
  top: 0;
  right: 144;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000; 
}


.quill-editor-wrapper {
  background: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 22%; 
  max-width: 800px; 
  padding: 20px; 
} */

.react-select-custom-styling__control {
  /* font-size: 15px !important; */
  /* font-weight: 400 !important; */
  /* line-height: 2 !important; */
  border-radius: 7px !important;
  border: 0.2px solid #e1e8f0 !important;
  outline: none !important;
  box-shadow: none !important;
  /* min-height: 38px; */
}

.react-select-custom-styling {
  border-color: #e1e8f0;
}

.calendar-container .h-9{
  height: 1.75rem;
}
.calendar-container {
  padding: 0px;
  height: 300px; /* Set the fixed height you want */
  /* overflow-y: auto;  */
}

.sidebar-margin {
  margin-left: 17rem;
}
.rotated {
  transform: rotate(90deg);
  transition: all 300ms;
}
.closedSidebar .submenuItem {
  display: none;
}
.closedSidebar .mainSidebar li:nth-child(6):hover .submenuItem {
  background: #6c7c9e;
  width: 160%;
  left: calc(100%);
  position: fixed;
  top: 520px;
  display: block;
}
.closedSidebar .mainSidebar li:nth-child(5):hover .submenuItem {
  background: #6c7c9e;
  width: 160%;
  left: calc(100%);
  position: fixed;
  top: 438px;
  display: block;
}
.backgroundSignIn {
  background-image: url(../asset/images/company-statistics-shape.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.backgroundLogin {
  background-image: url(../asset/images/company-statistics-shape.png);
  background-size: auto;
  background-repeat: no-repeat;
  /* z-index: 100000; */
}
.employees {
  background-image: url(../asset/images/employees.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100000;
}
.create-account {
  font-family: Century-Gothic;
}

.h-full.w-full.rounded-\[inherit\] {
  overflow: scroll !important;
}

/* .editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; 
} */

.react-select-custom-styling__option {
  cursor: pointer;
}

.react-select-custom-styling__option:hover {
  background-color: #e2e8f0;
  color: black;
}
.react-select-custom-styling__option {
  /* background-color:red !important;  */
  color: black;
  /* cursor: default; */
  display: block;
  /* font-family: "Century-Gothic"; */
  font-size: inherit;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 8px 12px;
  box-sizing: border-box;
}

.react-select-custom-styling__option--is-selected {
  background-color: #29354f !important;
  color: black;
}
.react-select-custom-styling__option--is-selected:hover {
  background-color: #29354f !important;
  color: #fff;
}
/* ================================= */

.css-13cymwt-control {
  border-color: #9da4b0 !important;
}

/* =================================== */
.ql-container {
  min-height: 130px;
}

.updates {
  width: 100%;
  text-align: center;
  object-fit: cover;
  margin: 0 auto !important;
}
/* ====================================== */
/* ScrollBar Custom  */
/* General vertical scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border: none;
}

/* Horizontal scrollbar styling */
::-webkit-scrollbar:horizontal {
  height: 8px; /* Adjust this value to change the height */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(214.3 31.8% 91.4%);
  border-radius: 10px;
  border: 0.2px solid hsl(214.3 31.8% 91.4%);
}
/* ========================================= */
.ql-toolbar.ql-snow {
  border-color: hsl(214.3 31.8% 91.4%) !important;
}
.ql-container.ql-snow {
  border-color: hsl(214.3 31.8% 91.4%) !important;
}

/* ============================================= */
.boxShadow {
  box-shadow: 0 2px 10px 0 rgba(58, 53, 65, 0.1);
}

/* CSS for dialog panel */
.dialog-panel {
  position: fixed;
  top: 35px;
  right: -100%; /* Initially hidden to the right */
  width: 60rem; /* Maximum width */
  height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 1px 3px;
  transition: right 0.5s ease-in-out; /* Smooth sliding transition */
}

/* When dialog is open, move it to the right */
.dialog-panel.open {
  right: 0; /* Slide into view */
}

/* CSS for close button */
.dialog-close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

/* Optional: Animation for dialog header */
.dialog-header {
  background-color: #f7f7f7;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #ddd;
}

/* Optional: Overlay to darken background */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* When dialog is open, show the overlay */
.dialog-overlay.open {
  opacity: 1;
}

/* Quill Image  */

.quill-uploaded-image {
  max-width: 100%; /* Prevent overflow */
  display: block; /* Ensure proper layout */
  margin: 8px 0; /* Add some margin for better spacing */
  resize: both; /* Allow resizing */
  overflow: hidden;
}
.update-file{
  position: absolute;
  right: 150px;
  bottom: 0;
  background-color: aliceblue;
  padding: 10px;
}

.report-files{
  width: 200%;
  position: absolute;
  right: 150px;
  bottom: 0;
  background-color: aliceblue;
  padding: 10px; 
}
.report-btn{
  right:32px ;
  top:194px ;

}
.update .update-btn{
  position: absolute;
  bottom:8px;
  right: 0px;
}
.update .file-1 .update-btn{
  position: absolute;
  bottom: 3px;

  right: 11px;
  justify-content: end;

}
.model-update-btn .update-btn{
  bottom: 4px;
  position: absolute;
  /* justify-content: end; */
  right: 0;
}
.custom-quill-container .ql-container .ql-snow.size {
  height: 400px;
}


/* Custom React Quill editor size */

/* For setting size on specific component container, you can use a custom class */
/* Custom styles for different Quill sizes */
/* .custom-quill-container .ql-container {
  width: 100%;
  height: 400px; 
}

.custom-quill-container .size {
  height: 400px; /* This could be any size you want for the 'size' prop */



/* .quill-uploaded-image {
  width: 130px;
  height: 130px;
  object-fit: cover; 
  margin: 5px;
  border-radius: 5px;
} */

.overflowSection > div :nth-child(1) {
  display: inline-table !important;
}

@media screen and (min-width: 1200px) and (max-width: 1454px) {
  .addFiles {
    top: 177px;
  }
}
